@import '../../assets/styles/animate.scss';

.loader {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 0 auto;
}

.list-item {
  animation: fadeInUp 0.5s ease-out;
}
