@tailwind base;
@tailwind components;
@tailwind utilities;

/* Selawik */
@font-face {
  font-family: Selawik, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Selawik-Reg.woff2') format('woff2')
    url('../fonts/Selawik-Reg.woff') format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

@font-face {
  font-family: Selawik, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Selawik-SB.woff2') format('woff2')
    url('../fonts/Selawik-SB.woff') format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
@font-face {
  font-family: Selawik, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Selawik-Bol.woff2') format('woff2')
    url('../fonts/Selawik-Bol.woff') format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}
@font-face {
  font-family: Selawik, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src: url('../fonts/Selawik-Lig.woff2') format('woff2')
    url('../fonts/Selawik-Lig.woff') format('woff');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F,
    U+FE2E-FE2F;
}

body {
  font-family: Selawik, sans-serif;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeSpeed;
}
body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar-thumb {
  width: 0;
}

body::-webkit-scrollbar-track {
  width: 0;
}

body::-webkit-scrollbar-thumb {
  width: 0;
}

body::-webkit-scrollbar-track {
  width: 0;
}
body, html {
  margin: 0;
  padding: 0;
}
main {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}
.dark{
  background:#fff;
    }
@media (prefers-color-scheme: dark) {

  .dark{
    background: rgb(0, 0, 0);
  }

}
